body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app_container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 0 10px;
  margin-top: 100px;
  flex-direction: column;
}
.flow_container {
  width: 100%;
  height: 100vh;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.flow_border {
  height: 80%;
  border: 1px solid #333;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
}
